
<!-- include Masonry -->
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js" defer ></script> 
<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js" defer ></script>
<!-- include carousel plugins -->
<script src="{{ site.baseurl}}/js/jquery.tinycarousel.min.js" defer ></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js" defer ></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js" defer ></script>
<!-- Modernizr -->
 <script src="{{ site.baseurl }}/js/modernizr.js" defer ></script>